@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
.container{
    width: 100%;
    height: auto;
   
}
.navbar{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding-block: 30px;
    display: flex;
    align-items: center;
}
.left{
    width: 50%;
    height: auto;
    display: flex;
    padding-inline: 60px;
}
.left img{
    width: 80px;
}
.left ul{
   list-style: none;
   display: flex;
   align-items: center;
   gap: 20px;
}
.left ul li{
    font-size: 15px;
}
.left ul li i{
    font-size: 10px;
}
.right{
    width: 50%;
    height: auto;
    display: flex;
    padding-inline: 50px;
    justify-content: end;
}
.right ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
 }
 .right ul li{
     font-size: 15px;
 }
 .t ul li i{
     font-size: 10px;
 }
 .right button{
    background-color: white;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    padding: 10px;
 }
 /* ---------------------------------navbar----------------------------- */
 .hero-section{
    width: 100%;
    height: auto;
    background-color:black;
    display: flex;
 }
 .hero-left{
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 60px;

 }
 .hero-left h1{
    padding-block: 25px;
    font-size: 55px;
    font-weight: 600;
    color: white;
 }
 .hero-left p{
    color: white;
    font-weight: 400;
    padding-block: 13px;
 }
 .location{
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding-block: 4px;
    padding-inline: 20px;
    justify-content: space-between;
   
    
 }
 .location1{

    display: flex;
    align-items: center;
 }

 .location2 i{
    font-size: 20px;
 }
 .location P{
    color: black;
 }
 .destination{
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding-block: 4px;
    padding-inline: 20px;

   
    
 }
 .hero-left button{
    width: 120px;
    padding-block: 10px;
    border-radius: 13px;
    border: none;
    font-size: 17px;
    background-color: white;
    font-weight: 500;
 }
 .destination P{
    color: black;
 }
 .hero-right{
    width: 50%;
    height: 700px;
    padding-block: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .hero-right img{
    width: 80%;
    height: 600px;
 }
 /* -------------------------------suggestions--------------------- */
 .heading{
    width: 100%;
    background-color: white;
    padding-top: 70px;
   padding-inline: 70px;

 }
 .suggestions{
    width: 100%;
    height: auto;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
   
 }
 .card-section{
    width: 90%;
    height: auto;
    display: flex;
    gap: 20px;
    padding-block: 30px;
    
 }
 .card{
    width: 32%;
    height: 150px;
    background-color: #F3F3F3;
    display: flex;
    border-radius: 14px;
    padding-block: 10px;
    padding-inline: 10px;
   
 }
 .card1{
    padding-block: 10px;
 }
 .card1 p{
    padding-block: 5px;
    font-size: 13px;
 }
 .card1 button{
    border-radius: 18px;
   margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    padding: 10px 14px;
 }
 #ride{
    font-weight: 400;
    
 }
 .card:last-child img{
     width: 130px;
 }
 /* ---------------------------------------drive section----------------------- */
 .drive-section{
   width: 100%;
   height: auto;
   padding-block: 30px;
   display: flex;
 }
 .drive-left{
   width: 50%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .drive-left img{
   width: 80%;
   margin-top: 20px;
   background-position: center;
   background-size: cover;
   border-radius: 10px;
 }
 .drive-right{
   width: 50%;
   height: auto;
   padding-inline: 90px;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
 }
 .drive-right h1{
   font-size: 50px;
 }
 .drive-right p{
   font-size: 15px;
   padding-block: 20px;
 }
 .para-section{
  
   display: flex;
   gap: 15px;
 }
 .para-section button{
   background-color: black;
   color: white;
   padding-inline: 35px;
   border-radius: 15px;
   font-size: 17px;
   font-weight: 500;
 }
 /* -------------------------------uber section-------------------- */
 .uber-section{
   width: 100%;
   height: auto;
   display: flex;
   padding-block: 30px;
 }
 .uber-right{
   width: 50%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
  
 }
 .uber-right img{
   width: 80%;
   margin-top: 20px;
   background-position: center;
   background-size: cover;
   border-radius: 10px;
 }
 .uber-left{
   width: 50%;
   height: auto;
   display: flex;
   padding-inline: 90px;
   flex-direction: column;
   justify-content: center;
 }
 .uber-left h1{
   font-size: 50px;
 }
 .uber-left p{
   font-size: 15px;
   padding-block: 20px;
 }
 /* ------------------------------------money section------------------------ */
 .money-section{
   width: 100%;
   height: auto;
   display: flex;
   padding-block: 30px;
 }
 .money-left{
   width: 50%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
  
 }
 .money-left img{
   width: 80%;
   margin-top: 20px;
   background-position: center;
   background-size: cover;
   border-radius: 10px;
 }
 .money-right{
   width: 50%;
   height: auto;
   display: flex;
   padding-inline: 90px;
   flex-direction: column;
   justify-content: center;
 }
 .money-right h1{
   font-size: 35px;
 }
 .money-right p{
   font-size: 15px;
   padding-block: 20px;
 }
 .money-right button{
   background-color: black;
   width: 170px;
   color: white;
   padding-inline: 35px;
   padding-block: 10px;
   border-radius: 15px;
   font-size: 17px;
   font-weight: 500;
 }
 /* ------------------------money section------------------------------- */
 .app-section{
   width: 100%;
   height: auto;
   background-color: #F6F6F6;
   padding-block: 30px;
   display: flex;
   
 }
 .app-left{
   width: 50%;
   height: auto;
   padding-inline: 40px;
   padding-block: 30px;
   
 }
 .app-left h1{
   padding-block: 20px;
 }
 .app-card{
   width: 100%;
   display: flex;
   height: 180px;
   padding-block: 20px;
   align-items: center;
   justify-content: center;
   background-color: #FFFFFF;
   gap: 20px;
  
 }

.card-left img{
   width: 140px;
}

.card-right i{
  font-size: 30px;
}
.app-right{
   width: 50%;
   height: auto;
   display: flex;
   align-items: center;
   padding-inline: 40px;
   padding-top: 80px;
   
 }
 
 .app-card1{
   width: 100%;
   display: flex;
   height: 180px;
   padding-block: 20px;
   align-items: center;
   justify-content: center;
   background-color: #FFFFFF;
   gap: 20px;
  
 }

.card-left1 img{
   width: 140px;
}

.card-right1 i{
  font-size: 30px;
}
/* ------------------------------------------------------------- */
.footer-section{
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
 display: flex;
 justify-content: space-around;
 padding-inline: 20px;
 padding-block: 80px;

}
.footer1 p{
  font-size: 13px;
  padding-block: 20px;
  padding-inline: 15px;
}
.footer-section ul{
  list-style: none;
}
.footer1{
  width: 20%;
  height: 400px;
  padding-block: 20px;
}
.footer1 ul li{
  padding-block: 10px;
  padding-inline: 15px;
  font-size: 14px;
}
.footer2 ul li{
  padding-block: 10px;
  font-size: 14px;
}
.footer3 ul li{
  padding-block: 10px;
  font-size: 14px;
}
.footer4 ul li{
  padding-block: 10px;
  font-size: 14px;
}
.footer2{
  width: 20%;
  height: 400px;
  
}
.footer3{
  width: 20%;
  height: 400px;
  
}
.footer4{
  width: 20%;
  height: 400px;
  
}
/* -------------------------------------------------- */
.language-section{
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  padding-block: 30px;
  display: flex;
}
.lang-left{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lang-right{
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 50px;
}
.lang-right p{
  font-size: 14px;
}
/* --------------------------------------------------------- */
.app-section1{
  width: 100%;
  height: auto;
  background-color: black;
  padding-inline: 70px;
  padding-block: 20px;
}
.app-section1 img{
  width: 260px;
 
}
/* --------------------------------------------------------- */
.copyright{
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  padding-block: 30px;
}
.copyright-left{
  width: 50%;
  height: auto;
  padding-inline: 40px;
}
.copyright-left p{
  font-size: 12px;
}
.copyright-right{
  width: 50%;
  height: auto;
 
  
}
.copyright-right ul{
 list-style: none;
 display: flex;
 justify-content: flex-end;
 gap: 6px;
}
.copyright-right ul li{
  font-size: 13px;
  padding-right: 70px;
}


/* ------------------------------responsive code------------------------- */
@media(max-width:1140px){
  .container{
    width: 100%;
    height: auto;
  }
  .navbar{
    width: 100%;
    height: auto;
  }
  .left{
    width: 50%;
    height: auto;
  }
  .left ul{
    display: none;
  }
  .right{
    width: 50%;
    height: auto;
    padding-right: 50px;
  }
  #iconid{
    display: none;
  }
  #iconid1{
    display: none;
  }
  .hero-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .hero-left{
    width: 100%;
    padding-left: 50px;
    height: auto;
    padding-block: 20px;
  }
  .location{
    width: 50%;
  }
  .destination{
    width: 50%;
  }
  .hero-right{
    width: 100%;
    height: auto;
  }
  .hero-right img{
    width: 90%;
  }
  .suggestions{
    width: 100%;
    height: auto;
    
  }
  .card-section{
    width: 90%;
    flex-wrap: wrap;
  }
  .card{
    width: 45%;
  }
  .drive-section{
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
   
  }
  .drive-left{
    width: 100%;
    height: auto;
    
  }
  .drive-left img{
    width: 90%;
  }
  .drive-right{
    padding-block: 20px;
    width: 100%;
    height: auto;
    padding: none;
   
    
  }
  .drive-right h1 {
    font-size: 35px;
   
 }
 .drive-right p{
  font-size: 13px;
 
}
  .drive-right h1 br{
     display: none;
    
  }
  .drive-right p br{
    display: none;
 }
 .para-section button{
   padding-inline: none;
 }
 .uber-section{
  width: 100%;
  height: auto;
  flex-direction: column;
 }
 .uber-left{
  width: 100%;
  height: auto;
  
  padding: none;
 }
 .uber-left h1 br{
  display: none;
 
}
.uber-left p br{
 display: none;
}
.uber-left h1 {
  font-size: 35px;
 
}
.uber-left p{
font-size: 13px;

}
 .uber-right{
  width: 100%;
  height: auto;
 }
 .uber-right img{
  width: 90%;
 }
 .money-section{
  width: 100%;
  height: auto;
  flex-direction: column-reverse;
 }
 .money-right{
  width: 100%;
  height: auto;
 }
 .money-right h1 br{
  display: none;
 
}
.money-right p br{
 display: none;
}
.money-right h1 {
  font-size: 35px;
 
}
.money-right p{
font-size: 13px;

}
 .money-left{
  width: 100%;
  height: auto;
 }
 .money-left img{
  width: 90%;
 }
 .app-section{
  width: 100%;
  height: auto;
  
  flex-direction: column;
 }
 .app-left{
  width: 100%;
  height: auto;
 
 }
 .app-right{
  width: 100%;
  height: auto;
  
 }
 
 .footer-section{
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding-block: 1px;
 
  

 }
 .footer1{
  width: 50%;
  height: 450px;
  justify-content: center;
  
 }
 .footer2{
  width: 50%;
  height: 450px;
  padding-block: 120px;
  
  
 }
 .footer3{
  width: 50%;
  height: 200px;
  padding-inline: 20px;
  
 
 }
 .footer4{
  width: 50%;
  height: 200px;
  
 
  
 }
 .language-section{
  width: 100%;
  height: auto;
 
  flex-direction: column;
 }
 .lang-left{
  width: 50%;
  height: auto;
 
  
 }
 .lang-right{
  width: 10%;
  padding-block: 35px;
  
  height: auto;
  flex-direction: column;
 
 
 }
 .lang-right p {
  display: flex;
  padding-left: 40px;
  gap:5px;
 
 }
 .app-section1{
  width: 100%;
  height: auto;
  padding-inline: 30px;
  
 }
 .app-section1 img{
  width: 200px;

 }
 .copyright{
  width: 100%;
  height: auto;
  
  display: flex;
  flex-direction: column;
 }
 .copyright-left{
  width: 100%;
  height: auto;
 }
 .copyright-right{
  width: 100%;
  height: auto;
  padding-block: 30px;
 }
 .copyright-right ul{
    display: flex;
  justify-content: flex-start;
  
  gap: 2px;
 
 }
 .copyright-right ul li{
  font-size: 10px;
  padding-right: 20px;
  padding-left: 30px;
 

}
}
@media (max-width:950px){
  .suggestions{
    width: 100%;
    height: auto;
    
  }
  .card-section{
    width: 90%;
    height: auto;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card{
    width: 80%;
    
  }
  .card p br{
    display: none;
  }
  .card1{
    
    padding-right: 60px;
  }
  .card2{
    padding-inline: 30px;
   
  }
  
}